body {
  margin: 3em;
  background-color: peachpuff;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.numberline {
  background-color: teal;
  width: 5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.numberline > li {
  margin: 1em;
  padding: 1em;
  color: oldlace;
  text-align: center;
}

.numberline > li:hover, .numberline > li.selected {
  background-color: peachpuff;
  border-radius: 15px;
  color: teal;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.list {
  float: left;
  width: 16.6%;
}